<div id="page-inner">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="wizard-inner">
                    <div class="connecting-line"></div>
                    <ul class="nav nav-tabs">
                        <li role="presentation">
                            <a href="" title="Création du planning" onClick="return false;">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="" title="Insertion des participants" onClick="return false;">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-user"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="" data-toggle="tab" title="Configuration du planning" onClick="return false;">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-cog"></i>
                                </span>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="" title="Complete" onClick="return false;">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-check"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div ng-controller="ConfigurationCtrl">
                    <div class="back_arrow">
                        <h1 class="page-head-line">
                            <a href="/#/">
                                <button type="button" class="btn btn-primary" style="color: white">
                                    <i class="glyphicon glyphicon-arrow-left"></i>
                                </button>
                            </a>
                            {{ planning.name }}
                        </h1>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-show="errorNameRoom" class="alert alert-danger" role="alert">
                                Le nom de salle existe déjà
                            </div>
                            <div class="col-md-5">
                                <div class="page-header">
                                    <h2>Gestion des salles</h2>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <i>Sélectionnez les salles parmi la liste ci dessous :</i>
                                        <div ng-dropdown-multiselect="" options="allRooms"
                                             selected-model="selectedRooms"
                                             translation-texts="settings">
                                        </div>
                                        {{ selectedRooms.id }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <i>Ajoutez une salle si elle n'y figure pas :</i>
                                        <div class="input-group">
                                            <input ng-model="newRoom.name" type="text"
                                                   class="form-control" placeholder="Nouvelle salle...">
                                            <span class="input-group-btn">
                                            <div class="input-group-btn">
                                                <button ng-click="addRoom()"
                                                        class="btn btn-raised btn-sm btn-success"
                                                        type="button">Ajouter salle</button>
                                            </div>
                                        </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7 center-block">
                                <div class="page-header">
                                    <h2>Gestion des priorités</h2>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <i>Glissez-déposez pour prioriser les contraintes, par ordre
                                            décroissant d'importance.</i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul id="contraintesList" class="list-unstyled col-lg-12">
                                            <li ng-repeat="p in planning.priorities | orderBy:'-weight'"
                                                class="panel panel-info">
                                                <div class="panel-heading" id="{{p.id}}">{{p.role}}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12 pull-right">
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <button type="submit"
                                                    class="btn btn-raised btn-success next-step"
                                                    ng-click="submit()">Configurer
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>