<div id="page-inner">
    <div class="row">
        <section>
            <div class="wizard">
                <div class="tab-content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="page-head-line">
                                <a href="/#/">
                                    <button type="button" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-arrow-left"></i>
                                    </button>
                                </a>
                                {{ planning.name }}
                            </h1>
                        </div>
                    </div>

                    <uib-tabset justified="true">
                        <uib-tab heading="Participants" class="btn btn-xs btn-raised btn-primary">
                            <div ng-include src="'app/views/participant.html'"></div>
                        </uib-tab>
                        <uib-tab heading="Configuration" class="btn btn-xs btn-raised btn-primary">
                            <div ng-include src="'app/views/configuration.html'"></div>
	                    </uib-tab>
	                </uib-tabset>
                </div>
            </div>
        </section>
    </div>
</div>